@import './variables.scss';
@import './flexbox.scss';
@import './spacing.scss';

/* Page */

.page {
  @extend .ninety-width;
  @extend .margin-2;
  @extend .border-grey-1;
  @extend .flex-center-column;
  @extend .padding-h-2;
  @extend .padding-v-4;
  max-width: $max-width;
  @extend .flex-center-column;
  &.mobile {
    @extend .padding-h-1;
    @extend .padding-v-2;
  }
}

.default-font {
  font-family: $defaultfont;
}

.primary-color {
  color: $defaultfontcolor;
}

a {
  font-family: $defaultfont;
  color: $linkcolor;
}

a:hover {
  color: $linkhover;
}

.underline {
  text-decoration: underline;
}

p,
span,
strong,
input,
form,
button {
  font-family: $defaultfont;
  color: $defaultfontcolor;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingcolor;
  font-family: $defaultfont;
}

h1 {
  font-size: 28px;
  @extend .margin-bottom-2;
}

h2 {
  font-size: 22px;
  @extend .margin-bottom-2;
}

.accented {
  color: $accentcolor;
}

/* Backgrounds */

.primary-bg {
  background-color: $primarycolor;
}

.secondary-bg {
  background-color: $secondarycolor;
}

/* Buttons */

.button {
  background: $buttonprimary;
  padding: 0.75rem 1rem;
  color: $buttonsecondary;
  border-radius: $border-radius-1;
  outline: none;
}

.button:hover {
  @extend .button-inverse;
}

.button-inverse {
  border: solid 1px $buttonprimary;
  padding: 0.75rem 1rem;
  color: $buttonprimary;
  background: $buttonsecondary;
  border-radius: $border-radius-1;
  outline: none;
}

.button-inverse:hover {
  @extend .button;
}

/* Widths */

.full-width {
  width: 100%;
}

.ninety-width {
  width: 90%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

/* Borders */

.border-grey-1 {
  border: solid 1px $grey1;
}

.border-grey-2 {
  border: solid 1px $grey2;
}

.border-grey-3 {
  border: solid 1px $grey3;
}

.border-bottom-grey-1 {
  border-bottom: solid 1px $grey1;
}

.border-bottom-grey-2 {
  border-bottom: solid 1px $grey2;
}

.border-bottom-grey-3 {
  border-bottom: solid 1px $grey3;
}

/* Forms/Inputs */

form {
  flex-wrap: wrap;
}

label {
  padding: 0.5rem 0;
  font-weight: bold;
  color: $grey3;
  width: 100%;
}

.input {
  color: $defaultfontcolor;
  border: solid 1px $grey1;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: $border-radius-1;
  outline: none;
}

input::placeholder {
  color: $defaultfontcolor;
}

.submit {
  background: $buttonprimary;
  border: solid 1px $buttonprimary;
  padding: 0.5rem;
  color: $buttonsecondary;
  border-radius: $border-radius-1;
  outline: none;
}

/* If you don't like the way selected text looks, delete or modify this */

.input::selection {
  background-color: $primarycolor;
  color: $light;
}

/* Modals */

.modal {
}

.modal-full {
  position: absolute;
  top: 82px;
  background-color: $white1;
  height: 100%;
  width: 100%;
}

.modal-partial {
  position: absolute;
  top: 82px;
  background-color: $white1;
  height: 100%;
  width: 100%;
  background-color: $grey5;
  &.mobile {
    background: none;
  }
}

.modal-partial-content {
  width: 500px;
  background-color: #fff;
  padding: 5rem 0;
  border-radius: $border-radius-2;
  &.mobile {
    width: 100vw;
    height: 100vh;
    background-color: $white1;
  }
}

/* Blog Posts */

.blog-main {
  @extend .flex-space-btw;
  &.mobile,
  &.tablet,
  &.tabletLg {
    @extend .flex-center-column;
  }
}

.blog-post {
  margin: 1rem;
  padding: 2rem 1rem;
  border: solid 1px $grey1;
  border-radius: $border-radius-1;
}

.created-at {
  color: $grey3;
  font-size: 13px;
  padding: 1rem 0;
  display: block;
}
