@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica&display=swap');

$grey1: rgba(0, 0, 0, 0.1);
$grey2: rgba(0, 0, 0, 0.2);
$grey3: rgba(0, 0, 0, 0.3);
$grey4: rgba(0, 0, 0, 0.4);
$grey5: rgba(0, 0, 0, 0.5);
$grey6: rgba(0, 0, 0, 0.6);
$grey7: rgba(0, 0, 0, 0.7);
$grey8: rgba(0, 0, 0, 0.8);
$grey9: rgba(0, 0, 0, 0.9);

$white1: rgba(255, 255, 255, 0.9);
$white2: rgba(255, 255, 255, 0.8);
$white3: rgba(255, 255, 255, 0.7);
$white4: rgba(255, 255, 255, 0.6);
$white5: rgba(255, 255, 255, 0.5);
$white6: rgba(255, 255, 255, 0.4);
$white7: rgba(255, 255, 255, 0.3);
$white8: rgba(255, 255, 255, 0.2);
$white9: rgba(255, 255, 255, 0.1);

$primarycolor: hotpink;
$secondarycolor: #f18fc0;
$accentcolor: #488d9e;

$defaultfont: 'IM Fell DW Pica';
$defaultfontcolor: $secondarycolor;
$headingcolor: $grey5;
$heading2color: $defaultfontcolor;

$linkcolor: $defaultfontcolor;
$linkhover: $primarycolor;
$light: #fff;
$dark: #000;

$buttonprimary: $primarycolor;
$buttonsecondary: $light;

$max-width: 900px;

$border-radius-1: 3px;
$border-radius-2: 5px;
